#instructionsButton {
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 200px;
    background: #000;
    --instructionsButton-color: white;
    --neon-border-color: #5496BF;
    font-size: 1rem;
    font-weight: 200;
    font-style: italic;
    color: white;
    padding: 0.25rem 0.5rem 0.5rem;
    border: 0.4rem solid #fff;
    border-radius: 2rem;
    animation: flicker 10000s infinite alternate;    
}

#instructionsPopUp {
    /* visibility: hidden; */
    font-family: 'Exo 2', sans-serif;
    opacity: 0%;
    width: 500px;
    height: 180px;
    padding: 5px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    /* margin-left: 20px; */
    left: 10px;
    margin-top: 60px;
    position: absolute;
    z-index: 1;
    transition: opacity,1s;
    font-family: serif;
    
}

.showInstructions ~ #instructionsPopUp {
    opacity: 100%;
}