@import url(https://fonts.googleapis.com/css?family=Exo+2:200i);

#instructionsButton {
    font-family: 'Exo 2', sans-serif;
    position: absolute;
    top: 20px;
    left: 20px;
    margin-bottom: 200px;
    background-color: blue;
    --neon-border-color: #D705F2;
    font-size: 1.25rem;
    font-weight: 900;
    color: white;
    padding: 0.25rem 0.5rem 0.5rem;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    animation: flicker 10000s infinite alternate;    
}

#instructionsPopUp {
    /* visibility: hidden; */
    font-family: 'Exo 2', sans-serif;
    opacity: 0%;
    width: 500px;
    height: 200px;
    padding: 5px;
    background-color: white;
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 6px;
    left: 10px;
    margin-top: 90px;
    position: absolute;
    z-index: 1;
    transition: opacity,1s;
    
}

.showInstructions ~ #instructionsPopUp {
    opacity: 100%;
}