li > div > .movingNotes {
    cursor: pointer;
    position: relative;
    right: 25%;
    /* left: -25%; */
    height: 100px;
    width: 40px;
    z-index: 1000;
    /* margin-left: 10px; */
    bottom: 75px;
}

.movingNotes {
    float: right;
    margin-left: 300px;
    height: 100px;
    width: 40px;
    cursor: grab;
}

.note-box {
    display: flex;
    /* position: relative; */
    align-items: left;
    justify-content: left;
}

.notes {
    width: 20px;
}
  
.aboveA > #img {
    height: 100px;
    width: 40px;
    bottom: 5px;
    content:url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Figure_rythmique_noire_hampe_bas.svg/365px-Figure_rythmique_noire_hampe_bas.svg.png");
}

#noteStem {
    position: absolute;
    height: 80px;
    width: 50px;
}