.MusicSheet {
  display: flex;
  justify-content: center;
}

figure ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 1205px;
    height: 195px;
    opacity: 1;
    border: 10px red solid;
    /* padding: 1rem 1rem 1.5rem; */
    border: 0.5rem solid #fff;
    border-radius: 2rem;
    animation: flicker 10s infinite alternate;   
    --neon-border-color: #5496BF;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  li:nth-child(4n) > div {
    border-right: 2px solid black;
  }

  li:nth-child(4n) > div:nth-child(-n+2) {
    border-right: 2px solid white;
  }

  li:nth-child(4n) > div:nth-last-child(-n + 2) {
    border-right: 2px solid white;
  }

  
  li div{
    display: inline-block;
    width: 100px;
    height: 15px;
    /* background: white; */
    background-color: white;
  }

.even-row {
    position: relative;
  }

.even-row:before{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: black;
    position: absolute;
    top: 50%;
  }

  .clef {
    position: absolute;
    /* left: 40px; */
    margin-left: -70px;
    height: 200px;
    width: 120px;
  }

body {
  background-image: url(../src/images/jazzbar-top.jpeg);
  background-size: cover;
}