html, body, figure, figcaption, ul, li, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-align: inherit;
  }

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px auto;
    width: 450px;
    height: 200px;
    // border: 2px solid black;
  }
  
  li {
    display: inline-block;
    width: 150px;
    height: 15px;
    // border: 1px solid black;
    background: white;
    cursor: pointer;
  }

.even-row {
    position: relative;
}

.even-row:before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
}

.movingNotes {
  cursor: pointer;
  position: relative;
  height: 100px;
  width: 50px;
  z-index: 1000;
}