html, body, figure, figcaption, ul, li, h1 {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    text-align: inherit;
  }

h1 {
  text-align: center;
  margin-top: 10px;
  font-size: 80px;
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 55px;
    margin-right: 60px;
    width: 450px;
    height: 200px;
  }

  li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  li:nth-child(4n) > div {
    border-right: 2px solid black;
  }

  li:nth-child(4n) > div:nth-child(-n+2) {
    border-right: none;
  }

  li:nth-child(4n) > div:nth-last-child(-n + 2) {
    border-right: none;
  }

  
  li div{
    display: inline-block;
    width: 100px;
    height: 15px;
    background: white;
    cursor: pointer;
  }

.even-row {
    position: relative;
  }

.even-row:before{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 50%;
  }

li > div > .movingNotes {
  cursor: pointer;
  position: relative;
  left: 50%;
  height: 22px;
  width: 22px;
  // height: 100px;
  // width: 50px;
  z-index: 1000;
  margin-left: 0px;
  }

.movingNotes {
  margin-left: 200px;
  height: 22px;
  width: 25px;
  // height: 100px;
  // width: 50px;
  }

  .aboveA > #img {
    height: 22px;
    width: 25px;
    // transform: scaleX(-1);
    // transform: scaleY(-1);
    transform: scale(-1, -1);
  }

.cleff {
  position: absolute;
  left: 0px;
  height: 200px;
  width: 120px;
  }

#noteStem {
  position: absolute;
  height: 80px;
  width: 50px;
  }